[submodule "mine/.vim/pack/pelon/start/vim-pandoc"]
	path = mine/.vim/pack/pelon/start/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "celebs/paulirish"]
	path = celebs/paulirish
	url = ./celebs/paulirish
[submodule "celebs/gf3"]
	path = celebs/gf3
	url = ./celebs/gf3
[submodule "celebs/tpope"]
	path = celebs/tpope
	url = ./celebs/tpope
[submodule "celebs/benorenstein"]
	path = celebs/benorenstein
	url = ./celebs/benorenstein
[submodule "celebs/mathiasbynens"]
	path = celebs/mathiasbynens
	url = https://github.com/mathiasbynens/dotfiles.git
[submodule "mine/.vim/pack/pelon/start/Emmet.vim"]
	path = mine/.vim/pack/pelon/start/Emmet.vim
	url = ../archive/Emmet.vim
